html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  align-content: center;
  -webkit-overflow-scrolling: touch;
}

.site-content {
  flex: 1;
}

header {
  background: #1B3885;
}

.main-nav {
  background: black;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: right;
  border: none;
}

.main-nav-item {
  display: inline;
  border-bottom: 1px solid;
  color: #AEAEAE;
  margin: 2px 20px;
  font-size: 1.3em;
}

.logo {
  display: block;
  margin: auto;
}

h3, .code {
  font-weight: 400;
}

h3, .code, .socials {
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin: 1em 4em;
}

.code {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .content-images {
  width: 400px;
  height: 400px;
  margin: 30px;
}

.image-container {
  display: flex;
  margin: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 38vh;
  min-height: 38vh;
  width: 400px;
  height: 400px;
  margin: 30px;
}

.img-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 16px;
  text-transform: none;
  top: 0;
  padding-left: 5%;
  padding-right: 5%;
  width: 80%;
  height: 80%;
  right: auto;
  text-align: center;
  background: rgba(29, 58, 131, 0.85);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.project-links-area {
  display: inline;
}

.project-links {
  color: #AEAEAE;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.code, .footer-content h4 {
  text-transform: uppercase;
}

main {
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

footer {
  background: #1B3885;
  margin: 30px 0 0;
}

.footer-content {
  color: #AEAEAE;
  margin: 50px 10%;
}

.footer-content h4 {
  font-size: 1.1em;
  margin: 30px 0 10px;
  color: white;
}

.socials {
  text-align: center;
  margin: 30px 0;
}

p {
  font-size: 1.5em;
  margin: 10px 0 0;
  font-weight: bold;
}

.sub-heading {
  margin: 15px 0 0;
  font-size: 1em;
  text-decoration: underline;
}

.social-links, .email {
  font-size: 1.18em;
}

.email {
  margin: 0;
}

.email, .social-links, h4 {
  font-weight: 300;
}

.social-links:not(:first-child):before, .project-links:not(:first-child):before {
    content: " | ";
}

.projects {
  width: 80%;
  height: 50%;
}

/* ----------- Phones, handhelds, and tablets ----------- */


/* Portrait and Landscape */

@media only screen
  and (max-device-width: 1112px) {

    .content-images {
     min-width: 30vh;
     min-height: 30vh;
     margin: 20px;
   }

   .img-wrap {
     min-width: 30vh;
     min-height: 30vh;
     margin: 20px;
   }

   .img-description {
      font-size: 32px;
   }

   h3 {
     font-size: 1.7em;
   }

   p {
     font-size: 2em;
   }

   .sub-heading {
     font-size: 1.5em;
   }

   .email, .social-links {
     font-weight: 400;
   }

   .main-nav-item {
     border-bottom: 2px solid;
   }

   .email {
     font-size: 0.87em;
   }

   .social-links {
     font-size: 1.85em;
   }

   .footer-content h4 {
     font-size: 0.85em;
   }
}
