html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  align-content: center;
  -webkit-overflow-scrolling: touch;
}

.site-content {
  flex: 1;
}

header {
  background: black;
}

.logo {
  display: block;
  margin: auto;
}

h3, .code-and-music {
  font-weight: 400;
}

h3, .code-and-music, .socials {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.code-and-music {
  display: flex;
  justify-content: center;
  margin: 60px;
}

.code, .music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .content-images {
  min-width: 38vh;
  min-height: 38vh;
  width: 300px;
  height: 300px;
  margin: 10px
}

.image-container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.code-and-music, h4 {
  text-transform: uppercase;
}

main {
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

footer {
  background: black;
  margin: 30px 0 0;
}

.footer-content {
  color: rgba(255,255,255,0.65);
  margin: 50px 10%;
}

.socials {
  text-align: center;
  margin: 30px 0;
}

h4 {
  font-size: 0.98em;
  margin: 30px 0 10px;
  color: white;
}

p {
  font-size: 1.2em;
}

.email {
  margin: 0;
}

.email, .socials, h4 {
  font-weight: 300;
}

.code-and-music {
  margin: 0;
  padding: 0;
}

.social-links, .content-text {
    display: inline;
}

.social-links:not(:first-child):before {
    content: " | ";
}

.music, .code {
  width: 80%;
  height: 50%;
}

/* ----------- Phones, tablets, and Handhelds ----------- */


/* Portrait and Landscape */

@media only screen
  and (max-device-width: 1112px) {
    .content-images {
     min-width: 20vh;
     min-height: 20vh;
     width: 300px;
     height: 300px;
     margin: 20px
   }

   h3 {
     font-size: 1.8em;
   }

   p {
     font-size: 1.7em;
   }
}
