html, body {
  margin: 0;
  height: 100%;
}
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  align-content: center;
}

.site-content {
  flex: 1;
}

header {
  background: black;
}

.logo {
  display: block;
  margin: auto;
}

h2, .content {
  text-align: center;
}

.content, h4 {
  text-transform: uppercase;
}
 .vertical-line {
   border-right: 1px solid gray;
   padding-right: 5px;
 }

main {
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background: black;
}

.footer-content {
  color: white;
  margin: 15px 10%;
}

.socials {
  text-align: center;
}
