html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  align-content: center;
  -webkit-overflow-scrolling: touch;
}

.site-content {
  flex: 1;
}


.main-nav, header {
  background: black;
}

.about-me-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

.about-me {
  text-align: center;
  width: 30%;
}

.about-me a {
  color: #808080;
  text-decoration: underline;
}

.about-me a:hover {
  color: black;
}

.main-nav {
  padding-right: 10%;
  padding-top: 4%;
  text-align: right;
}

.main-nav-item {
  text-decoration: underline;
  color: rgba(255,255,255,0.65);
  margin: 2px 20px;
  font-size: 1.2em;
}

.logo {
  display: block;
  margin: auto;
}

h3, .code {
  font-weight: 400;
}

h3, .code, .socials {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.code {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .content-images {
  min-width: 38vh;
  min-height: 38vh;
  width: 400px;
  height: 400px;
  margin: 30px;
}

.image-container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.img-wrap {
  position: relative;
  min-width: 38vh;
  min-height: 38vh;
  width: 400px;
  height: 400px;
  margin: 30px;
}

.img-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 16px;
  text-transform: none;
  top: 30px;
  bottom: 0;
  left: 60px;
  right: auto;
  text-align: center;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.project-links-area {
  display: inline;
}

.project-links {
  color: rgba(255,255,255,0.65);
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.code, h4{
  text-transform: uppercase;
}

main {
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

footer {
  background: black;
  margin: 30px 0 0;
}

.footer-content {
  color: rgba(255,255,255,0.65);
  margin: 50px 10%;
}

.socials {
  text-align: center;
  margin: 30px 0;
}

h4 {
  font-size: 0.98em;
  margin: 30px 0 10px;
  color: white;
}

p {
  font-size: 1.5em;
  margin: 10px 0 0;
  font-weight: bold;
}

.sub-heading {
  font-size: 0.85em;
  margin: 15px 0 0;
  text-decoration: underline;
}

.email {
  margin: 0;
}

.email, .social-links, h4 {
  font-weight: 300;
}

.code {
  margin: 0;
  padding: 0;
}

.social-links:not(:first-child):before, .project-links:not(:first-child):before {
    content: " | ";
}

.projects {
  width: 80%;
  height: 50%;
}

/* ----------- Phones, handhelds, and tablets ----------- */


/* Portrait and Landscape */

@media only screen
  and (max-device-width: 1112px) {

    .content-images {
     min-width: 20vh;
     min-height: 20vh;
     width: 300px;
     height: 300px;
     margin: 20px
   }

   h3 {
     font-size: 1.8em;
   }

   p {
     font-size: 1.7em;
   }

   .email, .social-links, h4 {
     font-weight: 400;
   }
}
